openapi: 3.0.4
info:
  title: Abyx AI Our Products API - Subset
  description: API for AI chat completions with product information and memory capabilities
  version: v1
servers:
  - url: https://cz570gwg-7263.uks1.devtunnels.ms
paths:
  /api/chat:
    post:
      tags:
        - Api
      summary: Get AI chat completions about our products
      description: Sends a chat request to the AI model and returns a response with products information
      operationId: AbyxAiApiFeaturesChatGetChatCompletionsGetChatCompletionsEndpoint
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              required:
                - input
              type: object
              properties:
                input:
                  minLength: 1
                  type: string
              additionalProperties: false
              example:
                input: What products do you have in the Technology category?
        required: true
      responses:
        '200':
          description: Successfully processed the chat request
          content:
            application/json:
              schema:
                type: object
                properties:
                  chatAnswer:
                    type: string
                  userQuery:
                    type: string
                additionalProperties: false
              example:
                chatAnswer: 'We have several products in the Technology category, including laptops, smartphones, and tablets.'
                userQuery: What products do you have in the Technology category?
components:
  securitySchemes:
    JWTBearerAuth:
      type: http
      description: Enter a JWT token to authorize the requests...
      scheme: Bearer
      bearerFormat: JWT
      x-ai-auth-reference-id: '{JWTBearerAuth_REGISTRATION_ID}'